.left
  %ul#nav
    %li= link_to t('menu.home'), root_path
    %li= link_to t('menu.all_establishments'), establishments_path
    %li= link_to t('menu.about'), about_path
    - if I18n.locale == :fr
      %li= link_to t('menu.english'), :locale => :en
    - else
      %li= link_to t('menu.french'), :locale => :fr
    %li= link_to "Montreal", root_url(:host => 'montreal.resto-net.ca')
    %li= link_to "Toronto", root_url(:host => 'toronto.resto-net.ca')
    %li.search= render 'shared/search_form'
