.band
  .container
    = form_tag establishments_path, method: :get, id: 'search', class: 'form-inline' do
      %p
        = label_tag :q, t('search.label')
        = text_field_tag :q, params[:q], placeholder: t('search.placeholder'), class: 'input-xlarge'
        = button_tag class: 'btn btn-primary' do
          %i.icon-search.icon-white
          =t 'search.submit'

.container
  .row
    - if @boxes[:latest_inspections]
      .span3
        .list-box
          %h2
            =t '.latest_inspections'
          .inner
            - @boxes[:latest_inspections].each do |inspection|
              .item
                %strong
                  = link_to inspection.name, inspection.establishment
                /@todo
    - if @boxes[:latest_fines]
      .span3
        .list-box
          %h2
            =t '.latest_fines'
          .inner
            - @boxes[:latest_fines].each do |inspection|
              .item
                %strong
                  = link_to inspection.name, inspection.establishment
                = number_to_currency inspection.amount
                —
                =l inspection.date
    - if @boxes[:most_fines]
      .span3
        .list-box
          %h2
            =t '.most_fines'
          .inner
            - @boxes[:most_fines].each do |establishment|
              .item
                %strong
                  = link_to establishment.name, establishment_path(establishment)
                =t '.fines_count', count: establishment.fines_count
    - if @boxes[:highest_fines]
      .span3
        .list-box
          %h2
            =t '.highest_fines'
          .inner
            - @boxes[:highest_fines].each do |establishment|
              .item
                %strong
                  = link_to establishment.name, establishment_path(establishment)
              =t '.fines_total', total: number_to_currency(establishment.fines_total)
    - if @spaces.nonzero?
      %div(class="span#{3 * @spaces}")
        .list-box
          %h2
            /@todo local campaign
          .inner
            /@todo local campaign
