.band
  .container
    /@todo add clear, descriptive text, integrate violation reporting from template
    = form_tag establishments_path, method: :get, id: 'search', class: 'form-inline' do
      %p
        = label_tag :q, t('search.label')
        = text_field_tag :q, params[:q], placeholder: t('search.placeholder'), class: 'input-xlarge'
        = button_tag class: 'btn btn-primary' do
          %i.icon-search.icon-white
          =t 'search.submit'

.container
  #boxes.row
    - if @boxes[:latest_inspections]
      .span3
        .list-box
          %h2
            =t '.latest_inspections'
          .inner
            - @boxes[:latest_inspections].each do |inspection|
              .item
                %strong
                  = link_to inspection.name, establishment_path(inspection.establishment)
                /@todo
            /@todo add read more
    - if @boxes[:latest_fines]
      .span4
        .list-box
          %h2
            =t '.latest_fines'
          .inner
            - @boxes[:latest_fines].each do |inspection|
              .item
                %strong
                  = link_to inspection.name, establishment_path(inspection.establishment)
                =l inspection.date, format: :short
                —
                = number_to_currency inspection.amount
            /@todo add read more
    - if @boxes[:most_fines]
      .span4
        .list-box
          %h2
            =t '.most_fines'
          .inner
            - @boxes[:most_fines].each do |establishment|
              .item
                %strong
                  = link_to establishment.name, establishment_path(establishment)
                =t '.fines_count', count: establishment.fines_count
            /@todo add read more
    - if @boxes[:highest_fines]
      .span4
        .list-box
          %h2
            =t '.highest_fines'
          .inner
            - @boxes[:highest_fines].each do |establishment|
              .item
                %strong
                  = link_to establishment.name, establishment_path(establishment)
                =t '.fines_total', total: number_to_currency(establishment.fines_total)
            /@todo add read more
    /- if @spaces.nonzero?
    /  %div(class="span#{3 * @spaces}")
    /    .list-box
    /      %h2
    /        /@todo local campaign
    /      .inner
    /        /@todo local campaign
    /@todo add map
