/@todo
/- content_for :meta_description, t(:tweet_infraction,
/    :name => @establishment.name,
/    :address => @establishment.short_address,
/    :amount => number_to_currency(@establishment.montreal_inspections.first.amount),
/    :date => l(@establishment.montreal_inspections.first.judgment_date))

.container
  #banner
    .row
      .span12
        %h2=t '.banner_header'
    .row
      .span8
        %p=t '.banner_body'
        %p
          %strong=t '.banner_call_to_action'
      .span4
        %button=t '.banner_button'
  .row
    .span8
      %h2
        = @establishment.name
        %small
          =t '.owned_by'
          = @establishment.owner_name

      .twitter-box
        =t('.summary', type: t(@establishment.establishment_type).downcase, count: @establishment.fines_count, total: number_to_currency(@establishment.fines_total)).html_safe
        = tweet_button t('.tweet_text', name: @establishment.name, address: @establishment.short_address, amount: number_to_currency(@establishment.fines_total)), 'data-size' => 'large'

      %h3=t '.inspections'
      - last_year = nil
      - @establishment.inspections.sort(:inspection_date.desc).group_by{|x| x.inspection_date.year}.each do |year,inspections|
        - if last_year && last_year - 1 > year
          .ellipsis ⋮
        - last_year = year
        %h4
          %span= year
        %ul.unstyled
          - inspections.each do |inspection|
            %li
              .date
                .month=l inspection.inspection_date, format: :month
                .day= inspection.inspection_date.strftime '%e'
              .details
                %p
                  %strong
                    %i.icon-exclamation-sign
                  = regulation inspection.regulation, '#'
                %p.summary
                  =t('.inspection', amount: number_to_currency(inspection.amount), span: distance_of_time_in_words(inspection.inspection_date, inspection.judgment_date)).html_safe
                  = tweet_button t('.tweet_text_detail', name: @establishment.name, address: @establishment.short_address, amount: inspection.amount, date: inspection.judgment_date)

    .span4
      #mini-map
      %p
        = @establishment.full_address

- if @establishment.geocoded?
  - content_for :footer do
    :javascript
      var latlng = new L.LatLng(#{@establishment.latitude}, #{@establishment.longitude})
