- content_for :meta_description, t(:tweet_infraction,
    :name => @establishment.name,
    :address => @establishment.short_address,
    :amount => number_to_currency(@establishment.montreal_inspections.first.amount),
    :date => l(@establishment.montreal_inspections.first.judgment_date))

.container
  #banner
    .row
      .span12
        %h2
          =t '.banner_header'
    .row
      .span8
        %p
          =t '.banner_body'
        %p
          %strong=t '.banner_call_to_action'
      .span4
        %button=t '.banner_button'
  .row
    .span8
      %h2
        = @establishment.name
        %small
          =t '.owned_by'
          = @establishment.owner_name
      .twitter-box
        =t '.summary', type: t(@establishment.establishment_type).downcase, count: @establishment.fines_count, total: number_to_currency(@establishment.fines_total)
        = link_to t('.tweet'), 'http://twitter.com/share', 'class' => 'twitter-share-button', 'data-lang' => locale, 'data-count' => 'none', 'data-size' => 'large', 'data-via' => 'resto_net', 'data-related' => t('.tweet_related'), 'data-text' => t('.tweet_text', name: @establishment.name, address: @establishment.short_address, amount: number_to_currency(@establishment.fines_total))
    .span4
      #map
      %p
        = @establishment.full_address

- if @establishment.geocoded?
  - content_for :footer do
    :javascript
      var latlng = new L.LatLng(#{@establishment.latitude}, #{@establishment.longitude})

/@todo inspections
/= render :partial => 'inspections/montreal_inspection', :collection => @establishment.montreal_inspections

/@todo yelp reviews
/%h2 Reviews from Yelp.com
/-unless @establishment.reviews.empty?
/  = render :partial => 'review', :collection => @establishment.reviews
/-else
/  %p No reviews could be found.  Check back later!
