- content_for :meta_description, t(:tweet_infraction,
    :name => @establishment.name,
    :address => @establishment.short_address,
    :amount => number_to_currency(@establishment.montreal_inspections.first.amount),
    :date => l(@establishment.montreal_inspections.first.judgment_date))

.container
  #banner
    .row
      .span12
        %h2
          =t '.banner_header'
    .row
      .span8
        %p
          =t '.banner_body'
        %p
          %strong=t '.banner_call_to_action'
      .span4
        %button=t '.banner_button'
  .row
    .span8
      %h2
        = @establishment.name
        %small
          =t '.owned_by'
          = @establishment.owner_name
      .twitter-box
        =t('.summary', type: t(@establishment.establishment_type).downcase, count: @establishment.fines_count, total: number_to_currency(@establishment.fines_total)).html_safe
        = link_to t('.tweet'), 'http://twitter.com/share', 'class' => 'twitter-share-button', 'data-lang' => locale, 'data-count' => 'none', 'data-size' => 'large', 'data-via' => 'resto_net', 'data-related' => t('.tweet_related'), 'data-text' => t('.tweet_text', name: @establishment.name, address: @establishment.short_address, amount: number_to_currency(@establishment.fines_total))

      %h3=t '.inspections'
      - last_year = nil
      - @establishment.inspections.sort(:inspection_date.desc).group_by{|x| x.inspection_date.year}.each do |year,inspections|
        - if last_year && last_year - 1 > year
          .ellipsis ⋮
        - last_year = year
        %h4
          %span= year
        %ul.unstyled
          - inspections.each do |inspection|
            %li
              .date
                .month=l inspection.inspection_date, format: :month
                .day= inspection.inspection_date.strftime '%e'
              .details
                %p
                  %b=t '.failure'
                  = link_to inspection.contravention[:short], '#', 'rel' => 'popover', 'data-title' => inspection.contravention[:article], 'data-content' => inspection.contravention[:long]
                %p.summary
                  =t('.inspection', amount: number_to_currency(inspection.amount), span: distance_of_time_in_words(inspection.inspection_date, inspection.judgment_date)).html_safe

    .span4
      #mini-map
      %p
        = @establishment.full_address

/@todo tweet

/@todo yelp reviews
/%h2 Reviews from Yelp.com
/-unless @establishment.reviews.empty?
/  = render :partial => 'review', :collection => @establishment.reviews
/-else
/  %p No reviews could be found.  Check back later!

- if @establishment.geocoded?
  - content_for :footer do
    :javascript
      var latlng = new L.LatLng(#{@establishment.latitude}, #{@establishment.longitude})
