- content_for :meta_description, t(:tweet_infraction,
    :name => @establishment.name,
    :address => @establishment.short_address,
    :amount => number_to_currency(@establishment.montreal_inspections.first.amount),
    :date => l(@establishment.montreal_inspections.first.judgment_date))

.container
  #banner
    .row
      .span12
        %h2
          Demandez la publication des rapports d’inspections des restaurants
    .row
      .span8
        %p
          Au Québec, les rapports d'inspections ne sont pas publiés. Il est alors impossible de vous indiquer si un restaurant a satisfait à son inspection ou s’il a reçu un avertissement. Seules les amendes sont publiées, dans un délai d'une moyenne d'un an. Il est donc probable que vous ayez mangé dans des restaurants qui ont récemment reçu des avertissements ou des amendes sans le savoir!
        %p
          %strong Aidez-nous à changer la situation.
      .span4
        %button
          Soumettez une demande
  .row
    .span8
      %h2(data-latitude="" data-longitude="")
        = @establishment.name
        %small
          =t '.owned_by'
          = @establishment.owner_name
      %p
        =t '.summary', type: @establishment.establishment_type.downcase, count: @establishment.fines_count, total: number_to_currency(@establishment.fines_total)
        /@todo I18n.translate_attribute @establishment, :establishment_type
        /@todo make better twitter call to action
        %br
        = link_to t('.tweet'), 'http://twitter.com/share', 'class' => 'twitter-share-button', 'data-text' => t('.tweet_text', name: @establishment.name, address: @establishment.short_address, amount: number_to_currency(@establishment.fines_total)), 'data-count' => 'horizontal', 'data-lang' => locale, 'data-via' => 'resto_net'
        %br
    .span4
      #map
      %p
        = @establishment.full_address

- if @establishment.geocoded?
  - content_for :footer do
    :javascript
      var latlng = new L.LatLng(#{@establishment.latitude}, #{@establishment.longitude})

/@todo inspections
/= render :partial => 'inspections/montreal_inspection', :collection => @establishment.montreal_inspections

/@todo yelp reviews
/%h2 Reviews from Yelp.com
/-unless @establishment.reviews.empty?
/  = render :partial => 'review', :collection => @establishment.reviews
/-else
/  %p No reviews could be found.  Check back later!
