= form_tag establishments_path, method: :get, class: 'form-search' do
  = label_tag :q, t('search.label')
  = text_field_tag :q, params[:q], placeholder: t('search.placeholder'), class: 'input-medium search-query'
  = submit_tag t('search.submit'), class: 'btn'
  %p.help-block
    %strong
      =t 'search.help'
      = link_to t('search.example1'), establishments_path(q: t('search.example1'))

%table.pretty
  %thead
    %tr
      %th= t :name
      %th= t :address
  %tbody
    - @establishments.each do |establishment|
      %tr[establishment]
        %td= link_to establishment.name, establishment_path(establishment)
        %td= address(establishment)
