= render 'shared/search'
.container
  %h2=t @attribute
  .row
    - @establishments.each_slice(25).each_with_index do |slice,i|
      .span6
        %table.wide
          - slice.each_with_index do |establishment,j|
            %tr
              %td.index
                = i * 25 + j + 1 # @todo change with pagination
              %td
                = link_to establishment.name, establishment_path(establishment)
              - unless @attribute == :name
                %td.item-chart
                  .item-fill
                    .item-bar(class="bar#{establishment[@attribute].to_i * 10 / @maximum}")
                      .item-number
                        = number_to_human establishment[@attribute], precision: 0

  /@todo paginate